{% extends "base.html" %}{% block head %}<title>User Profile | Aluni Relations</title>{% endblock %}
    {% block content %}
<form method="POST">
    <br><br>
    <h3 align="center">User Profile</h3>
    <br>
    <div class="form-group">
        <label for="user_name">Name</label>
        <input type="text" class="form-control" id="user_name" name="user_name" value="{{ uname }}"/>      
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ usermail }}"/>      
    </div>    
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}